* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fff7f8;
}

/* HEADER */
header {
    text-align: center;
    background: #ffb3c6;
    padding: 20px;
}

header h1 {
    color: #b3004c;
    font-size: 40px;
}

/* NAVIGATION */
nav {
    background: #ff4d6d;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* SECTION */
section {
    padding: 25px;
    width: 90%;
    margin: auto;
}

h2 {
    color: #b3004c;
    margin-bottom: 10px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

table th {
    background: #ff4d6d;
    color: white;
    padding: 10px;
}

table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table img {
    border-radius: 10px;
}

/* FORM */
form {
    background: #ffe6ea;
    padding: 20px;
    border-radius: 10px;
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

button {
    padding: 10px 15px;
    background: #ff4d6d;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #b3004c;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #ff4d6d;
    color: white;
    margin-top: 20px;
}
